@model E_OgrenmeApp.ViewModels.AuthLogin
@{
    ViewBag.Title = "Login";
}


<div class="container" style="margin: 0 auto; width:330px;">
    <h1>Giriş</h1>

    @using (Html.BeginForm())
    {
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.ValidationSummary()

                <div class="form-group">
                    @Html.LabelFor(x => x.username)
                    @Html.EditorFor(x => x.username)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.password)
                    @Html.EditorFor(x => x.password)
                </div>
                <div class="btn-group">
                    <input type="submit" value="Giriş" />
                </div>
                </div>
            </div>
        </div>
        }
    </div>
