@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Öğretmen Ekle</title>
    @Styles.Render("~/Admin/styles")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @helper SelectedTabClass(string tableName) // yardımcı fonksiyon
                        {
                        if (tableName == ViewBag.SelectedTab)
                        {
                            @:active
    }
}
                        <div class="container">
                            <ul class="nav nav-pills">
                                <li class="@SelectedTabClass("OgrEkle")">@Html.ActionLink("Öğretmen Ekle", "Index", "Home", new { area = "Admin" }, new { })</li>
                                <li class="@SelectedTabClass("DrsEkle")">@Html.ActionLink("Ders Ekle", "Index", "Ders", new { area = "Ders" }, new { })</li>
                                <li class="@SelectedTabClass("OgrListele")">@Html.ActionLink("Öğretmen Listele", "OgretmenListele", "Home", new { area = "Admin" }, new { })</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        @RenderBody()
        @Styles.Render("~/Admin/scripts")
        @RenderSection("Scripts", false)
</body>
</html>
